body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page {
  display: grid;
  grid-template-columns: 200px auto;
}

.sidebar {
  padding: 20px;
}

.input-field {
  margin-bottom: 25px;
}

.button-container {
  margin-bottom: 15px;
  justify-content: center;
  display: flex;
}

footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.page-footer {
  padding-top: 0px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

    /* Inactive/Active Default input field color */
    /* .input-field input[type]:not([readonly]), */
    .input-field input[type]:focus:not([readonly]),
    /* .input-field textarea:not([readonly]), */
    .input-field textarea:focus:not([readonly]) {
        border-bottom: 1px solid #64B5F6;
        box-shadow: 0 1px 0 0 #64B5F6;
    }

    /* Inactive/Active Default input label color */
    .input-field input[type]:focus:not([readonly])+label,
    .input-field textarea:focus:not([readonly])+label {
        color: #64B5F6;
    }

    /* Active/Inactive Invalid input field colors */
    .input-field input[type].invalid,
    .input-field input[type].invalid:focus,
    .input-field textarea.invalid,
    .input-field textarea.invalid:focus {
        border-bottom: 1px solid #e57373;
        box-shadow: 0 1px 0 0 #e57373;
    }

    /* Active/Inactive Invalid input label color */
    .input-field input[type].invalid:focus+label,
    .input-field input[type].invalid~.helper-text::after,
    .input-field input[type].invalid:focus~.helper-text::after, 
    .input-field textarea.invalid:focus+label,
    .input-field textarea.invalid~.helper-text::after,
    .input-field textarea.invalid:focus~.helper-text::after {
        color: #e57373;
    }

    /* Active/Inactive Valid input field color */
    .input-field input[type].valid,
    .input-field input[type].valid:focus,
    .input-field textarea.valid,
    .input-field textarea.valid:focus {
        border-bottom: 1px solid #64B5F6;
        box-shadow: 0 1px 0 0 #64B5F6;
    }

    /* Active/Inactive Valid input label color */
    .input-field input[type].valid:focus+label,
    .input-field input[type].valid~.helper-text::after,
    .input-field input[type].valid:focus~.helper-text::after,
    .input-field textarea.valid:focus+label,
    .input-field textarea.valid~.helper-text::after,
    .input-field textarea.valid:focus~.helper-text::after {
        color: #64B5F6;
    }